<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
<meta http-equiv="X-UA-Compartible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.0.3.css'%}"/>
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
   <link rel="stylesheet" type="text/css" href="{%static 'css/fontawesome/css/all.css'%}">

   <link rel="stylesheet" href="{% static 'css/emtrack.css' %}">
 <link rel="stylesheet" href="{% static 'css/rest_framework/...' %}">
    
    <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>


<!--<link rel="stylesheet" href="{% static 'css/ui.css'%}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/sidebar.css'%}" type="text/css"/>
>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"> 
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>-->
<style type="text/css">
  fieldset{
    background-color: lightgrey;
    width: 300px;
    height: auto;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    margin-top: 60px;
  }
  .bg{
                background-image:url("/static/img/bg.jpg");
  /*opacity:0.6;*/
                height: 570px;
                width: 100%;
                background-position:center;
                background-repeat:no-repeat;
                background-size:cover;
  /*filter:blur(8px);
  -webkit-filter: blur(8px);*/
           }
  .icon::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .login::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
  }
</style>

<!--Fussioncharts-->
<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.charts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.zune.js'%}"></script>
 <script type="text/javascript" src="{%static 'fusioncharts/..'%}"></script>
 <!--<script type="text/javascript" src="{%static 'js/respond.js'%}"></script>
 <script type="text/javascript" src="{%static 'scottjeh/..'%}"></script>-->
 {{script|safe}}
<title>{% block title%} Home {% endblock %} </title>
</head>
<body>
<div class="container-fluid">
    <!-- Second navbar for categories -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Em<span>Track</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'views'%}">Views</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'charts'%}">Charts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'calc'%}">Computation</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#">Employees</a>
                <a class="dropdown-item" href="{%url 'home'%}">Recent</a>
                <a class="dropdown-item" href="{%url 'about'%}">About</a>
              </div>
            </li>
            <li class="nav-item">

            <button class="btn btn-outline-primary btn-circle" value="submit" 
            onclick="window.location='{%url 'account'%}'">Account<span class="icon login"></span></button>
            </li>

          <br/>
          </ul>

        </div>
      </nav>
{%block content%}

<div class="content">
	<div class="alert">
	   <!--<p>You are now logged out <a href="{%url 'login'%"> Click here</a> to login</p>-->
	{% if messages %}
       {% for message in messages %}
           <!--<div class="alert alert-{{message.tags}}">{{message}}</div>-->
           <div class="alert alert-info alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>
       {% endfor %}
    {% endif %} 
	</div>
</div>
{%endblock%}