{%extends 'pages/base.html'%}
{%block title%} About {%endblock%}
{%load static%}
{%block content%}
 <!--<div class="bg">-->
 <div class="bg" style="background-image:url('/static/img/back2.jpg');">
      <h1 style="color:blue;">About <small>EmTrack</small></h1>

      <h4>What You should know <img src="{%static 'img/search.png'%}" style="height: 35px;" /> </h4>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Purpose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Developer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mapouter" role="tab">Locate Us</a>
        </li>
       
      </ul>

      <div class="tab-content" role="tablist">
        <div class="tab-pane active" id="home" role="tabpanel">
         <img src="{%static 'img/power.png'%}"  style="height: 35px;"/>
         <p>EmTrack is an online website that enables to track the statistics of employee details in the county government. <br/></p>
          <p>Also one can be able to identify the available jobs in the county government and their net salary if interested plus other news.<br/></p>
          <p>It is among the best webapp that can be used by data scientists for data visualization and prediction of future growth of their business</p>


          <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Vision
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              <p>To be the most efficient solution</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Mission
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              <p>Effective service provision</p>
            </div>
          </div>
        </div>
        </div>


        </div>
        <div class="tab-pane" id="profile" role="tabpanel">
         <p>The site was built by <b>Wakhanu Satwinder<i>(a freelancer developer)</i></b> in February &copy 2020 whose main purpose was to enforce the accountability in the counties.It was built using python django-framework and JavaScript</p>
          <p>If interested you can contact the developer <a href="{%url 'contact_us'%}">here</a></p>
          <img src="{%static 'img/service.png'%}"  style="height: 35px;"/>
          
        </div>
        <div class="tab-pane" id="mapouter" role="tabpanel">
         <div class="row">
             <div class="col-md-6">

              <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?ll=0.2827307,34.7518631&q=Kakamega&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://techwithlove.com/"></a></div><style>.mapouter{position:relative;text-align:right;height:349px;width:399px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:500px;}</style></div> 
             </div>

             <div class="col-md-6">

               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127643.39887314352!2d36.8607232!3d-1.2582912!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17803c37cdba7711%3A0xd7380a06dc908a6a!2sKakamega!5e0!3m2!1sen!2ske!4v1586594755976!5m2!1sen!2ske" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

             </div>
           
         </div>
          
        </div>
        
        
      </div>


</div>
{%endblock%}



