{%extends 'pages/base.html'%}
{%load crispy_forms_tags%}
{% load static %}
{% block title%} Contact Us {% endblock %}
<body>
{%block content%}
<!--creating containers-->
<div class="bg">
    <div class="row">

    <div class="col-md-4">
    	<img src="{%static 'css/fontawesome/svgs/brands/facebook.svg'%}" alt="facebook" style="width:60px; height: 60px;"/> 
    	<img src="{%static 'css/fontawesome/svgs/brands/twitter.svg'%}" alt="twitter" style="width:60px; height: 60px; background-color: blue; margin-left: 10px;"/>
    	<br/>
    	<img src="{%static 'css/fontawesome/svgs/brands/pinterest.svg'%}" alt="pinterest" style=" width:60px; height: 60px;" />
    	<br/>
    	<img src="{%static 'css/fontawesome/svgs/brands/git.svg'%}" alt="git" style=" width:60px; height: 60px; margin-left: 10px;" />
    	
    	<img src="{%static 'css/fontawesome/svgs/brands/github.svg'%}" alt="github" style=" width:60px; height: 60px; background-color:purple;" />
    	<br/>
    </div>

   <div class="col-md-4">

      {% if submitted %}
     <p class="success">
         Your message was submitted successfully. Thank you.
    </p>

 {% else %}
     <form action="" method="post" novalidate>
     <table>
         {{ form.as_table }}
         <tr>
             <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
     </table>
    {% csrf_token %}
     </form>
{% endif %}
      <!--<fieldset style="margin-top: 30px; padding-top:10px;">
        <form method="POST" >
	     {%csrf_token%}
	     {{form.as_p}}
       <div class="form-actions">
         <button class="btn btn-primary btn-circle" value="submit">Send</button>
      </div>
        </form>
      </fieldset> --> 
    </div>

 <div class="col-md-4"></div>
</div>
</div>
{%endblock%}
</body>
</html>