{%extends 'pages/base.html'%}
{%load static%}
{%block title%}Profile{%endblock%}
<body>
{%block content%}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    {% if messages %}
       {% for message in messages %}
           <!--<div class="alert alert-{{message.tags}}">{{message}}</div>-->
           <div class="alert alert-info alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>
       {% endfor %}
    {% endif %} 

	<h3 style="color: gold;">Profile Page </h3>

   <!--<img class="rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
          data-holder-rendered="true">-->

	<b>First name:</b>{{request.user.first_name}}<br/> <br/>
	<b> Last Name:</b> {{request.user.last_name}}<br/> <br/>
    <b>Username:</b>{{request.user.username}} <br/> <br/>
    <b>Email:</b>{{request.user.email}} <br/> <br/>
    <b>Staff Status:</b>{{request.user.is_staff}} <br/> <br/>
    <b>Active:</b>{{request.user.is_active}} <br/> <br/>
     <b>Signed up on:</b>  {{request.user.date_joined}} <br/> <br/>

    <button class="btn btn-outline-primary" >Update<span class="fas fa-pencil-alt" style="height: 5px;"></span></button>
    <a href="{%url 'logout'%}" style="margin-left: 20px;">Logout</a> <br/>
</div>
<div class="col-md-4">
	<table>
	<tr>
		<th style="margin-right: 70px;">Name:</th> <br/>
		<td>{{request.user.username}}</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>{{request.user.email}}</td>
	</tr>
	</table>
	<button class="btn btn-outline-primary" >Update<span class="fas fa-pencil-alt" style="height: 5px;"></span></button></td>
</div>
</div>

{%endblock%}
</body>
</html>