{% extends 'pages/base.html'%}
<!--{%load static%}
<link rel="stylesheet" href="{% static 'css/emtrack.css' %}">-->
{%load static%}
{% block title%} Views {%endblock%}
<body>

{%block content %}
<div class="bg" style="background-image:url('/static/img/back2.jpg');">
  <div class="row">
   
      <div class="col-md-4">
            <div id="chart-1" style="margin-top: 10px;">{{output|safe }}</div>

      </div>
      <div class="col-md-4">
             <div id="chart-3" style="margin-top: 10px;">{{output3|safe }}</div>
      </div>
      <div class="col-md-4">
             <div id="chart-2" style="margin-top: 10px;" >{{output2|safe }}</div>
      </div>
   </div>

</div>
      
      

  <!--</div>-->

{% endblock%}

</body>
</html>
